<div class="grid grid-cols-2 mb-10 wrapper enter">
  <div class="flex items-center">
    <div class="w-full max-w-xl p-12">
      <span class="badge">
        AI Chat Bot
      </span>

      <h3 class="mt-8">
        That's remarkably human-like and engaging...
      </h3>

      <p class="mt-6 text-xl font-medium">
        Simply choose your asistant and engage with a friendly chatbot to
        generate ideas, enhance your content, or even bring a smile to your
        face.
      </p>

      <div class="mt-14">
        <span class="text-tertiary">Coming soon...</span>
      </div>
    </div>
  </div>

  <div class="py-6">
    <img src="assets/chat.png"
      alt="AI Chat Bot"
      class="translate-y-10">
  </div>
</div>