<div class="grid grid-cols-2 mb-10 wrapper enter">
  <div class="flex items-center">
    <div class="w-full max-w-xl p-12">
      <div class="flex items-center gap-4">
        <span class="badge">
          AI Chat Bot
        </span>

        <span class="text-tertiary">Coming soon...</span>
      </div>

      <h3 class="mt-8">
        AI chat that feels surprisingly human
      </h3>

      <p class="mt-6 text-xl font-medium">
        Simply choose your asistant and ask your friendly chatbot to generate
        ideas, revise your content, or even make you laugh.
      </p>

      <div class="mt-10">
        <a href="/signup"
          class="gap-4 button button-primary">
          Start Chatting

          <i class="text-2xl ti ti-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="py-6">
    <img src="assets/chat.png"
      alt="AI Chat Bot"
      class="translate-y-24">
  </div>
</div>