<div class="my-14">
  <h2 class="text-center">Coolest Features</h2>

  <div class="grid grid-cols-3 gap-12 mt-10">
    <div class="p-8 wrapper">
      <span class="icon shadow-right">
        <i class="ti ti-code"></i>
      </span>

      <h3 class="mt-10 text-2xl">High Quality Code</h3>
      <p class="mt-4 text-lg font-medium">
        Developed by Using Domain-Driven Design and Onion Architecture
        Principles.
      </p>
    </div>

    <div class="p-8 wrapper">
      <span class="icon shadow-right">
        <i class="ti ti-sparkles"></i>
      </span>

      <h3 class="mt-10 text-2xl">Modern Technologies</h3>
      <p class="mt-4 text-lg font-medium">
        Built with modern technologies for best structure and get maximum
        performance.
      </p>
    </div>

    <div class="p-8 wrapper">
      <span class="icon shadow-right">
        <i class="ti ti-click"></i>
      </span>

      <h3 class="mt-10 text-2xl">Friendly UI and UX</h3>
      <p class="mt-4 text-lg font-medium">
        Enjoy a hassle-free and intuitive user interface that enhances your
        digital experience.
      </p>
    </div>

    <div class="p-8 wrapper">
      <span class="icon shadow-right">
        <i class="ti ti-moon"></i>
      </span>

      <h3 class="mt-10 text-2xl">Dark Mode</h3>
      <p class="mt-4 text-lg font-medium">
        Turn off the light and switch to dark mode your interface with one
        click.
      </p>
    </div>

    <div class="p-8 wrapper">
      <span class="icon shadow-right">
        <i class="ti ti-file-description"></i>
      </span>

      <h3 class="mt-10 text-2xl">Documentation</h3>
      <p class="mt-4 text-lg font-medium">
        An all-inclusive learning package seamlessly integrated into our
        community.
      </p>
    </div>

    <div class="p-8 wrapper">
      <span class="icon shadow-right">
        <i class="ti ti-credit-card"></i>
      </span>

      <h3 class="mt-10 text-2xl">Payment Gateways</h3>
      <p class="mt-4 text-lg font-medium">
        Simplify transactions and boost security with payment gateway solutions.
      </p>
    </div>

    <div class="p-8 wrapper">
      <span class="icon shadow-right">
        <i class="ti ti-cpu-2"></i>
      </span>

      <h3 class="mt-10 text-2xl">AI Generator</h3>
      <p class="mt-4 text-lg font-medium">
        Unlock limitless creativity with our AI-powered content generator.
      </p>
    </div>

    <div class="p-8 wrapper">
      <span class="icon shadow-right">
        <i class="ti ti-database-search"></i>
      </span>

      <h3 class="mt-10 text-2xl">SEO Friendly</h3>
      <p class="mt-4 text-lg font-medium">
        Boost your visibility and reach your audience effectively with AIkeedo's
        generated content.
      </p>
    </div>

    <div class="p-8 wrapper">
      <span class="icon shadow-right">
        <i class="ti ti-layout-grid"></i>
      </span>

      <h3 class="mt-10 text-2xl">Advanced Dashboard</h3>
      <p class="mt-4 text-lg font-medium">
        Empower your insights and control with our cutting-edge dashboard.
      </p>
    </div>

    <div class="p-8 wrapper">
      <span class="icon shadow-right">
        <i class="ti ti-layout-dashboard"></i>
      </span>

      <h3 class="mt-10 text-2xl">Custom Templates</h3>
      <p class="mt-4 text-lg font-medium">
        Transform your content creation with AI-driven custom templates.
      </p>
    </div>

    <div class="p-8 wrapper">
      <span class="icon shadow-right">
        <i class="ti ti-brand-facebook"></i>
      </span>


      <h3 class="mt-10 text-2xl">Login via SM Accounts</h3>
      <p class="mt-4 text-lg font-medium">
        Use Facebook or Google accounts as an alternatively access to platform.
      </p>

      <div class="mt-4 text-tertiary">
        Coming soon...
      </div>
    </div>

    <div class="p-8 wrapper">
      <span class="icon shadow-right">
        <i class="ti ti-headset"></i>
      </span>

      <h3 class="mt-10 text-2xl">High Quality Support</h3>
      <p class="mt-4 text-lg font-medium">
        Our support team is available 24/7 to help you with any questions or
        concerns.
      </p>
    </div>
  </div>
</div>