<footer class="mb-28 wrapper enter">
  <div class="p-12 bg-contrast-secondary">
    <div class="flex items-start justify-between gap-20">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg"
          width="97"
          height="20"
          viewBox="0 0 97 20"
          fill="none">
          <path
            d="M0.802749 9.03184C1.33849 7.99289 2.06421 7.19527 2.98335 6.63557C3.90249 6.07587 4.92776 5.79688 6.06256 5.79688C7.05359 5.79688 7.91967 5.99713 8.66251 6.39594C9.40535 6.79475 9.99928 7.29797 10.4477 7.90559V6.01254H13.8265V19.2861H10.4477V17.3452C10.0164 17.9682 9.42076 18.4834 8.66251 18.8908C7.90426 19.2981 7.02962 19.5018 6.03859 19.5018C4.92091 19.5018 3.90249 19.2142 2.98335 18.6391C2.06421 18.064 1.33849 17.2544 0.802749 16.2069C0.267013 15.1611 0 13.9596 0 12.6006C0 11.2586 0.268725 10.0691 0.802749 9.03184ZM9.96676 10.5535C9.64669 9.9698 9.21536 9.52307 8.67278 9.21156C8.13019 8.90004 7.54653 8.74428 6.9235 8.74428C6.30047 8.74428 5.72536 8.89662 5.19818 9.19957C4.67101 9.50253 4.2431 9.94584 3.91618 10.5295C3.58926 11.1132 3.42495 11.8029 3.42495 12.6023C3.42495 13.4016 3.58926 14.0999 3.91618 14.699C4.2431 15.2981 4.67443 15.7568 5.21017 16.0769C5.7459 16.3969 6.31587 16.5561 6.9235 16.5561C7.54653 16.5561 8.13019 16.4004 8.67278 16.0888C9.21536 15.7773 9.64669 15.3306 9.96676 14.7469C10.2868 14.1633 10.446 13.4649 10.446 12.6502C10.446 11.8355 10.2868 11.1354 9.96676 10.5535Z"
            fill="#24282C" />
          <path
            d="M17.3371 3.86773C16.9451 3.49289 16.75 3.02562 16.75 2.46592C16.75 1.90793 16.9451 1.44066 17.3371 1.0641C17.729 0.689256 18.2203 0.500977 18.8108 0.500977C19.4013 0.500977 19.8925 0.689256 20.2845 1.0641C20.6765 1.43894 20.8716 1.90622 20.8716 2.46592C20.8716 3.02562 20.6765 3.49289 20.2845 3.86773C19.8925 4.24258 19.4013 4.43085 18.8108 4.43085C18.2203 4.43085 17.729 4.24429 17.3371 3.86773ZM20.4642 6.01239V19.286H17.1094V6.01239H20.4642Z"
            fill="#24282C" />
          <path
            d="M31.6276 19.2863L27.1243 13.6328V19.2863H23.7695V1.55566H27.1243V11.6422L31.5813 6.01272H35.9426L30.0974 12.6726L35.9905 19.2846H31.6276V19.2863Z"
            fill="#24282C" />
          <path
            d="M50.0043 13.6556H40.3011C40.3816 14.6142 40.7171 15.3656 41.3076 15.9081C41.8981 16.4507 42.6255 16.7229 43.4882 16.7229C44.7342 16.7229 45.6209 16.1871 46.148 15.1174H49.7664C49.383 16.396 48.6487 17.4452 47.5618 18.2685C46.4749 19.0918 45.1416 19.5025 43.5601 19.5025C42.2815 19.5025 41.1364 19.2184 40.1214 18.6519C39.1064 18.0853 38.3157 17.2826 37.7491 16.2436C37.1826 15.2047 36.8984 14.0082 36.8984 12.6492C36.8984 11.2765 37.1774 10.0698 37.7371 9.03086C38.2968 7.99191 39.079 7.19429 40.0855 6.6346C41.0919 6.0749 42.249 5.7959 43.5601 5.7959C44.8215 5.7959 45.9512 6.06805 46.9508 6.61063C47.9486 7.15321 48.724 7.92516 49.2752 8.92303C49.8263 9.9209 50.1019 11.0677 50.1019 12.3617C50.1002 12.8409 50.0676 13.2722 50.0043 13.6556ZM46.6256 11.4032C46.6102 10.5405 46.2986 9.85073 45.691 9.33039C45.0834 8.81177 44.3405 8.55161 43.4625 8.55161C42.6324 8.55161 41.9323 8.80321 41.3658 9.30643C40.7992 9.80965 40.4518 10.508 40.3234 11.4032H46.6256Z"
            fill="#24282C" />
          <path
            d="M64.7856 13.6556H55.0824C55.1628 14.6142 55.4983 15.3656 56.0888 15.9081C56.6793 16.4507 57.4068 16.7229 58.2694 16.7229C59.5155 16.7229 60.4021 16.1871 60.9293 15.1174H64.5476C64.1642 16.396 63.43 17.4452 62.3431 18.2685C61.2562 19.0918 59.9228 19.5025 58.3413 19.5025C57.0627 19.5025 55.9177 19.2184 54.9027 18.6519C53.8877 18.0853 53.0969 17.2826 52.5304 16.2436C51.9638 15.2047 51.6797 14.0082 51.6797 12.6492C51.6797 11.2765 51.9587 10.0698 52.5184 9.03086C53.0781 7.99191 53.8603 7.19429 54.8667 6.6346C55.8732 6.0749 57.0302 5.7959 58.3413 5.7959C59.6028 5.7959 60.7324 6.06805 61.732 6.61063C62.7299 7.15321 63.5053 7.92516 64.0564 8.92303C64.6076 9.9209 64.8831 11.0677 64.8831 12.3617C64.8814 12.8409 64.8489 13.2722 64.7856 13.6556ZM61.4085 11.4032C61.3931 10.5405 61.0816 9.85073 60.474 9.33039C59.8664 8.81177 59.1235 8.55161 58.2455 8.55161C57.4153 8.55161 56.7153 8.80321 56.1487 9.30643C55.5822 9.80965 55.2347 10.508 55.1064 11.4032H61.4085Z"
            fill="#24282C" />
          <path
            d="M67.2637 9.03128C67.7994 7.99233 68.5286 7.19471 69.4563 6.63502C70.3823 6.07532 71.4127 5.79632 72.5475 5.79632C73.4101 5.79632 74.2317 5.98459 75.0156 6.35944C75.7978 6.73428 76.4208 7.23407 76.8847 7.8571V1.55664H80.2874V19.2856H76.8847V17.3206C76.4688 17.9762 75.8868 18.5034 75.1354 18.9022C74.384 19.301 73.5145 19.5012 72.5235 19.5012C71.4058 19.5012 70.3823 19.2137 69.4563 18.6386C68.5303 18.0635 67.7994 17.2539 67.2637 16.2064C66.728 15.1606 66.4609 13.959 66.4609 12.6C66.4609 11.2581 66.728 10.0685 67.2637 9.03128ZM76.4277 10.5529C76.1076 9.96924 75.6763 9.52251 75.1337 9.211C74.5911 8.89948 74.0075 8.74372 73.3844 8.74372C72.7614 8.74372 72.1863 8.89606 71.6591 9.19902C71.1319 9.50197 70.704 9.94528 70.3771 10.5289C70.0502 11.1126 69.8859 11.8024 69.8859 12.6017C69.8859 13.401 70.0502 14.0994 70.3771 14.6984C70.704 15.2975 71.1354 15.7562 71.6711 16.0763C72.2069 16.3964 72.7768 16.5555 73.3844 16.5555C74.0075 16.5555 74.5911 16.3998 75.1337 16.0883C75.6763 15.7768 76.1076 15.33 76.4277 14.7464C76.7478 14.1627 76.9069 13.4644 76.9069 12.6496C76.9069 11.8349 76.7461 11.1349 76.4277 10.5529Z"
            fill="#24282C" />
          <path
            d="M86.0095 18.6519C84.9876 18.0853 84.1849 17.2826 83.6012 16.2436C83.0175 15.2047 82.7266 14.0082 82.7266 12.6492C82.7266 11.2919 83.0261 10.0938 83.6252 9.05482C84.2242 8.01586 85.0424 7.21484 86.0813 6.64658C87.1203 6.08003 88.2773 5.7959 89.5559 5.7959C90.8345 5.7959 91.9915 6.08003 93.0305 6.64658C94.0677 7.21312 94.8876 8.01586 95.4867 9.05482C96.0858 10.0938 96.3853 11.2919 96.3853 12.6492C96.3853 14.0065 96.0772 15.2047 95.4627 16.2436C94.8483 17.2826 94.0164 18.0853 92.9706 18.6519C91.9248 19.2184 90.754 19.5025 89.4601 19.5025C88.1815 19.5025 87.0313 19.2184 86.0095 18.6519ZM91.1717 16.1358C91.7074 15.8397 92.1336 15.3981 92.4537 14.8059C92.7738 14.2154 92.9329 13.4965 92.9329 12.6492C92.9329 11.3878 92.6009 10.4173 91.9385 9.73776C91.2761 9.05825 90.4648 8.71935 89.5063 8.71935C88.5478 8.71935 87.745 9.05825 87.098 9.73776C86.4511 10.4173 86.1275 11.3878 86.1275 12.6492C86.1275 13.9107 86.4425 14.8812 87.0741 15.5607C87.7057 16.2402 88.4998 16.5791 89.4584 16.5791C90.066 16.5791 90.6359 16.4319 91.1717 16.1358Z"
            fill="#24282C" />
        </svg>

        <address class="mt-6 not-italic">
          651 N Broad St, Suite 201, Middletown, <br>
          DE 19709, USA
        </address>
      </div>

      <nav class="flex items-start gap-20 font-bold">
        <ul class="flex flex-col gap-4">
          <li>
            <a href="/#product">Product</a>
          </li>

          <li>
            <a href="/#pricing">Pricing</a>
          </li>

          <li>
            <a href="/#faq">FAQ</a>
          </li>
        </ul>

        <ul class="flex flex-col gap-4">
          <li>
            <a href="/policies/privacy">Privacy Notice</a>
          </li>

          <li>
            <a href="/policies/terms">Terms of Services</a>
          </li>

          <li>
            <a href="/policies/refund">Refund Policy</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="flex items-center justify-between mt-20">
      <div>
        &copy; {{ 'now' | date('Y') }} All rights reserved.

        {% if option.site.name is defined %}
        <strong>{{ option.site.name }}</strong>
        {% endif %}
      </div>

      <div class="flex gap-4 text-2xl">
        <a href="#"
          target="_blank"
          class="hover:no-underline">
          <i class="ti ti-brand-facebook"></i>
        </a>

        <a href="#"
          target="_blank"
          class="hover:no-underline">
          <i class="ti ti-brand-instagram"></i>
        </a>

        <a href="#"
          target="_blank"
          class="hover:no-underline">
          <i class="ti ti-brand-x"></i>
        </a>
      </div>
    </div>
  </div>
</footer>