<div>
  <h2 class="text-center">
    We're helping

    <div class="from-[#D3F36B] to-[#6BAAF3] bg-gradient-to-r bg-clip-text">
      Marketing teams
    </div>
  </h2>

  <div class="flex flex-col gap-10 mt-12">
    {% include "@theme/sections/writer.twig" %}
    {% include "@theme/sections/presets.twig" %}
    {% include "@theme/sections/code.twig" %}
    {% include "@theme/sections/image.twig" %}
  </div>
</div>