<div>
  <h2 class="text-center enter">
    We're helping

    <div class="from-[#D3F36B] to-[#6BAAF3] bg-gradient-to-r bg-clip-text">
      Marketing teams
    </div>
  </h2>

  <div class="flex flex-col gap-10 mt-12">
    {% include "@theme/sections/writer.twig" %}
    {% include "@theme/sections/presets.twig" %}
    {% include "@theme/sections/code.twig" %}
    {% include "@theme/sections/image.twig" %}
    {% include "@theme/sections/chat.twig" %}

    <div class="grid grid-cols-2 gap-12 enter">
      {% include "@theme/sections/speech-to-text.twig" %}
      {% include "@theme/sections/text-to-voice.twig" %}
    </div>
  </div>
</div>