<div
  class="grid grid-cols-2 p-3 overflow-hidden wrapper wrapper-inverted enter">
  <div class="relative z-10 flex items-center">
    <div class="w-full py-40 px-9">
      <div class="badge bg-secondary text-tertiary">
        <span class="text-contrast-primary">
          100+ AI Writer Templates
        </span>
      </div>

      <h3 class="mt-8">
        What can AIkeedo write for you?
      </h3>

      <p class="mt-6 text-xl font-medium">
        Write with remarkable speed, captivate your audience, and bid farewell
        to writer's block forever.
      </p>

      <div class="mt-10">
        <a href="/signup"
          class="button">
          Get Started for Free
        </a>
      </div>
    </div>
  </div>

  <div class="scrolling-presets">
  </div>
</div>