<div class="flex flex-col justify-between wrapper">
  <div class="p-12">
    <span class="badge">
      Text to Voice
    </span>

    <h3 class="mt-8">
      Convert your texts into <br> Lifelike Speech
    </h3>

    <p class="mt-3 font-medium md:mt-6 md:text-xl">
      Elevate Your Content with Expressive Narration: Discover Text-to-Voice
      Excellence.
    </p>

    <div class="mt-8 md:mt-14">
      <span class="text-tertiary">Coming soon...</span>
    </div>
  </div>

  <div class="mx-4 mb-2">
    <img src="assets/text-to-voice.png"
      alt="AI text to voice transformer"
      class="dark:hidden">

    <img src="assets/text-to-voice-dark.png"
      alt="AI text to voice transformer"
      class="hidden dark:block">
  </div>
</div>