<div class="flex flex-col justify-between wrapper">
  <div class="p-12">
    <div class="flex items-center gap-4">
      <span class="badge">
        Text to Voice
      </span>

      <span class="text-tertiary">Coming soon...</span>
    </div>

    <h3 class="mt-8">
      Convert your texts into <br> Lifelike Speech
    </h3>

    <p class="mt-6 text-xl font-medium">
      Elevate Your Content with Expressive Narration: Discover Text-to-Voice
      Excellence.
    </p>

    <div class="mt-10">
      <a href="/signup"
        class="gap-4 button button-primary">
        Try now

        <i class="text-2xl ti ti-arrow-right"></i>
      </a>
    </div>
  </div>

  <div class="mx-4 mb-2">
    <img src="assets/text-to-voice.png"
      alt="AI text to voice transformer">
  </div>
</div>