h1 {
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.28571429;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.33333333;
}

h3 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}
